

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  max-width: 100%;
  /* TB LR */
  margin: 0 auto;
}


/* header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 35px;
  }
/* Media for header and logo */
@media (max-width: 800px){
  header{
    flex-flow: column-reverse;
    margin: 5%;
  }
  

  header .logo{
    margin-bottom: 2%;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 800px){
  .logo{
    width: 30%;
    padding-bottom: 20px;
  }
}

@media (max-width: 500px){
  .logo{
    width: 40%;
    padding-bottom: 10px;
    
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
@media (max-width: 800px){
  nav {
    width: 100%;

  }
}
@media (max-width: 500px){
  nav {
    flex-direction: column;
   
    text-align: center;
    
  }
  
}
/* 2 top content after nav */
.top-content {
  display: flex;
  justify-content:  flex-end;
  align-items: center;
  margin-top: 72px;
}
/* media query for top content */
@media(max-width: 800px){
  .top-content {
    justify-content: center;
    margin-top: 10%;
  }
  .top-content img{
    display: none;
  }
}





a {
  text-decoration: none;
  color: gray;
}
@media (max-width: 500px){
  nav a{
    
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    padding: 20px;
  }
  
  }
  



.left-top {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-right: 82px;
}
@media (max-width: 800px){
.left-top{
  margin-right: 10px;
  font-size: 50px;
  
}
}

@media (max-width: 500px){
  .left-top {
    
    font-size: 70px;
    
  }
}
.top-row { 
  display:flex;
  
  
}

/* media query for p */
@media (max-width: 800px){
  p{
    font-size: 15px;
    
  }
}

@media (max-width: 500px){
  p{
    padding: 25px 0 25px 0;
  }
}

/* media query for middle img */
@media ( max-width: 500px){
  .middle-img{
    width: 100%;
    
  }
}

.top-row p {
  padding-right: 10px;
}

button {
  border: 1px solid black;
  font-size: 16px;
  width: 170px;
  cursor: pointer;
  height: 32px;
  margin-top: 10px;
}
/* Middle of page, features and about */
.middle-content{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 75px;
  margin-bottom: 35px;
  padding: 35px;
  
}
/* media queries for top row */
@media (max-width: 800px){
  .top-row {
    display: flex;
    justify-content: space-evenly;
  }
  
  
}
@media (max-width: 500px){
  .top-row {
   flex-direction: column;
   
 }
}
.bottom-row {
  display: flex;
}
/* media query for bottom row */
@media(max-width: 500px){
  .bottom-row{
    flex-direction: column;
  }
}

.bottom-row p {
  padding-right: 20px;
}



footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
 
.contact {

  display: flex;
  flex-direction: column;
  padding: 10px;
  
  
}
@media (max-width: 500px){
 .contact p{
  padding: 0px;
  }
}

.middle-content img {
  margin-bottom: 20px;
  margin-top: 20px;
}




  
  
  